main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.banner {
  width: 100%;
  height: fit-content;
}

.banner .container {
  padding: 0 2%;
}

.banner-image {
  width: 100%;
  height: 233px;
  background-image: url("/assets/images/banner.png") !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.banner-image h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #ffffff;
}

.facilities img {
    width: 100%;
}