.hero {
  margin-top: 80px;
  background-color: rgba(36, 171, 112, 0.1);
  padding: 40px 0;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}

.hero h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
}

.hero p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  color: #555555;
}

@media (max-width: 576px) {
    .hero {
        margin-top: 20px;
    }
}


